<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso Legal</title>
    <link rel="stylesheet" href="css/aviso.css" />
    <script src="js/index.js"></script>
</head>

<body>
    <div class="todo">
        <div class="Header">
            <nav class="sideBar" onclick="ToggleMenu();">
                <div class="Logo-Cerrar">
                    <img src="media/logo.png" alt="" class="logo">
                    <button class="Cerrar">
                        <h3>x</h3>
                    </button>
                </div>
                <div class="opcionesSideBar">
                    <a href="http://127.0.0.1:5500/src/main/resources/templates/Admin-reportes.html">
                        <button>
                            <img src="media/sparkles.png" alt="xd">
                            <span>Pagina principal</span>
                        </button>
                    </a>
                </div>
                <div class="opcionesSideBar">
                    <a href="http://127.0.0.1:5500/src/main/resources/templates/Admin-crud-fuegos.html">
                        <button>
                            <img src="media/sparkles.png" alt="xd">
                            <span>Fuegos artificiales</span>
                        </button>
                    </a>
                </div>
                <div class="opcionesSideBar">
                    <a href="http://127.0.0.1:5500/src/main/resources/templates/Admin-crud-tiendas.html">
                        <button>
                            <img src="media/tiendita.png" alt="xd">
                            <span>Tiendas</span>
                        </button>
                    </a>
                </div>
                <div class="opcionesSideBar">
                    <a href="http://127.0.0.1:5500/src/main/resources/templates/Admin-crud-publicaciones.html">
                        <button>
                            <img src="media/papelito.png" alt="xd">
                            <span>Publicaciones</span>
                        </button>
                    </a>
                </div>

                <div class="opcionesSideBar">
                    <a href="http://127.0.0.1:5500/src/main/resources/templates/Admin-Contactos.html">
                        <button>
                            <img src="media/a.png" alt="xd">
                            <span>Contáctanos</span>
                        </button>
                    </a>
                </div>

                <div class="opcionesSideBar">
                    <a href="http://127.0.0.1:5500/src/main/resources/templates/Admin-AvisoLegal.html">
                        <button>
                            <img src="media/contrato.png" alt="xd">
                            <span>Información Legal</span>
                        </button>
                    </a>
                </div>
            </nav>
        </div>

            <div class="contenedorGeneral">
                <!--BARRA SUPERIOR-->
                <header class="superior">
                    <div>
                        <div class="menutoggle" onclick="ToggleMenu();"></div>
                        <div class="titlerep">
                            <h3>Información Legal</h3>
                        </div>
                    </div>

                    <div class="user">
                        <img src="media/user.png" alt="pfp">
                        <h3 class="nombreUs" id="usuarioNombre"></h3>
                        <button id="botonInicioSesion" onclick="window.location.href='Login.html'">Iniciar Sesión</button>
                    </div>
                </header>

            </div>
            <div class="Cuerpo">
                <div class="contenedorTextos">
                    <div class="Titulo">
                        <h1>Aviso Legal</h1>
                    </div>
                    <div class="Info" id="textoLegal">
                        <p>
                            Al acceder y utilizar este sitio web, usted acepta cumplir con los términos y condiciones
                            establecidos a continuación. Lea detenidamente la siguiente información antes de utilizar o
                            realizar cualquier transacción en nuestra plataforma.

                            En el marco de este compromiso, es crucial destacar que el usuario se compromete a utilizar el
                            sitio de manera ética y legal, evitando cualquier conducta que pueda infringir la ley o vulnerar
                            los derechos de terceros. Asimismo, se espera que el usuario reconozca y respete la propiedad
                            intelectual y los derechos de autor asociados con el contenido presente en la plataforma.
                        </p>
                    </div>
                </div>

                <div class="contenedorTextos">
                    <div class="Subtitulo">
                    <h2>Uso Responsable:</h2>       
                    </div>
                    <div class="Info">
                    <p>
                        Al adquirir fuegos artificiales a través de nuestro sitio web, usted acepta utilizarlos de
                        manera responsable y de acuerdo con las leyes y regulaciones vigentes en la República de Panamá.
                        El mal uso de los productos adquiridos puede resultar en sanciones legales.
                    </p>
                    </div>
                </div>
                <div class="contenedorTextos">
                    <div class="Subtitulo">
                        <h2> Restricciones de Edad:</h2>
                    </div>
                    <div class="Info">

                    <p>
                        La venta de fuegos artificiales está sujeta a restricciones de edad. Al realizar una compra,
                        usted confirma que tiene la edad legal para adquirir y utilizar estos productos según las leyes
                        de Panamá. Nos reservamos el derecho de solicitar pruebas de edad y de rechazar la venta a
                        personas que no cumplan con los requisitos.
                    </p>
                    </div>
                </div>
                <div class="contenedorTextos">
                    <div class="Subtitulo">
                        <h2> Información de Producto:</h2>
                    </div>
                    <div class="Info">

                    <p>
                        Hacemos nuestro mejor esfuerzo para proporcionar información precisa y detallada sobre cada
                        producto disponible en nuestro sitio web. Sin embargo, no nos responsabilizamos por errores
                        tipográficos, imprecisiones o cambios en la legislación que puedan afectar la disponibilidad o
                        el uso de los productos.
                    </p>
                    </div>
                </div>
                <div class="contenedorTextos">
                    <div class="Subtitulo">
                        <h2> Prohibición de Reventa No Autorizada:</h2>
                    </div>
                    <div class="Info">

                    <p>
                        Los productos adquiridos a través de nuestro sitio web están destinados para uso personal. Queda
                        estrictamente prohibida la reventa no autorizada de los fuegos artificiales adquiridos a través
                        nuestro sitio. Cualquier violación de esta política puede resultar en la cancelación de la
                        cuenta y acciones legales correspondientes.
                    </p>
                    </div>
                </div>
                <div class="contenedorTextos">
                    <div class="Subtitulo">
                        <h2> Tiendas Asociadas:</h2>
                    </div>
                    <div class="Info">

                    <p>
                        La información proporcionada sobre las tiendas que ofrecen nuestros productos se basa en datos
                        recopilados de fuentes confiables. Sin embargo, no garantizamos la disponibilidad de los
                        productos en estas tiendas y recomendamos verificar directamente con el administrador antes de
                        ordenar.
                    </p>
                    </div>
                </div>
                <div class="contenedorTextos">
                    <div class="Subtitulo">
                        <h2> Leyes y Regulaciones Locales:</h2>
                    </div>
                    <div class="Info">

                    <p>
                        Al realizar una compra a través de nuestro sitio web, usted acepta cumplir con todas las leyes y
                        regulaciones locales relacionadas con la importación, almacenamiento y uso de fuegos
                        artificiales en su área de residencia.
                    </p>
                    </div>
                </div>
                <div class="contenedorTextos">
                    <div class="Info">
                    <p class="final">Al utilizar nuestro sitio web, usted reconoce y acepta estos términos y
                        condiciones.
                        Nos reservamos el derecho de modificar o actualizar esta información en cualquier momento sin
                        previo aviso. Le recomendamos revisar regularmente estos términos para estar al tanto de
                        cualquier cambio. Si tiene alguna pregunta o inquietud,
                        por favor contáctenos a través de los canales proporcionados en la pagina.</p>
                    </div>
                </div>
            </div>
            
            <footer>
                <div class="footer-container">
                    <div class="footer">
                        <div class="info-footer">
                            <img src="media/logoutp.png" alt="logo utp blanco">
                            <p>Este sitio es administrado por la Facultad<br>
                                de Ingenieria en Sistemas<br>
                                Computacionales. Proyecto web donado<br>
                                por el grupo 1LS121, segundo semestre<br>
                                2023.
                            </p>
                        </div>
                        <div class="contacto">
                            <h1>Contacto</h1>
                            <p>Avenida Universidad Tecnológica de Panamá, Vía Puente <br>
                                Centenario, Campus Metropolitano Dr. Victor Levi Sasso, <br>
                                Edificio No.3, tercer piso. <br>
                                Teléfono: (507) 560-3639 y (507) 560-3619 <br>
                                E-mail: <a class="email" href="#">sindy.delosrios@utp.ac.pa</a>
                            </p>
                        </div>
                        <div class="redes">
                            <img src="media/brand-facebook.png" alt="facebook">
                            <img src="media/brand-instagram.png" alt="instagram">
                            <img src="media/brand-youtube.png" alt="youtube">
                            <img src="media/brand-linkedin.png" alt="linkedin">
                            <img src="media/brand-x.png" alt="twitter x">
                        </div>
                    </div>
                    <div class="copyright">
                        <p>© 2023 - Universidad Tecnológica de Panamá</p>
                    </div>
                </div>
            </footer>
</body>

</html>